.container {
max-width: 360px;
border: 1px solid rgb(228, 226, 226);
padding: 0em;
box-shadow: 10px 5px 5px rgb(221, 218, 218);
}

.first {
max-width: 350px;
border: 1px solid white;
margin: 0.5em;
}

.second {
max-width: 350px;
border: 1px solid rgb(197, 195, 195);
margin: 0.5em;
}

img {
max-width: 300px;
max-height: 200px;
}

ul {
list-style: none;
}

li {
text-align: left;
padding: 0.1em;
}

.job {
font-weight: bold;
}

.description {
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
font-size: 14px;
font-style: italic;
font-variant: normal;
font-weight: 500;
line-height: 20px;
text-align: justify;
padding: 0.3em;
margin: 0.5em;
}

.detailed {
font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
font-size: 14px;
font-style: normal;
font-variant: normal;
font-weight: 600;
line-height: 20px;
text-align: justify;
padding: 0.3em;
margin: 0.5em;
}
